.main-section{
    display: flex;
}
.project{
    display: flex;
}
nav{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap:20px;
}  
.project{
}
@media(min-width:1024px){
    nav{
        display:flex;
        flex-direction: row;
        padding: 20px;
    }
}
